# install pyrubberband
pyrubberband==0.3.0
# nice to have sometimes…
natsort==8.3.1
tabulate==0.9.0
# elevenlabs
elevenlabs==0.2.18
# add the line below to fix elevenlabs temporarily
pydantic==1.*
# install opencv and moviepy
opencv-python==4.7.0.72
boto3==1.26.95
manim-voiceover[azure,gtts,transcribe]==0.3.3
moviepy==1.0.3

# install ipdb which sometimes help if bugs appear in manim-voiceover (manim-voiceover uses ipdb somewhere and if this is not installed it throws an error that the ipdb cannot be found, but if we install it, we can see a better error and better traceback what happens in manim-voiceover)
ipdb==0.13.13